In [1]:
import numpy as np
import pandas as pd
from pyspark.sql import SparkSession

In [2]:
animes = pd.read_csv("dataset/animes.csv")

In [3]:
animes.head()

,title,anime_id,url,image_path,airing_status,num_episodes,mpaa_rating,last_scraped_date,title_japanese,synopsis,title_english
0,Hanasaku Iroha,9289,https://myanimelist.net/anime/9289/Hanasaku_Iroha,https://cdn.myanimelist.net/images/anime/3/289...,2,26.0,PG-13 - Teens 13 or older,2020-09-13 11:23:05.509374,花咲くいろは,Ohana Matsumae is an energetic and wild teenag...,Hanasaku Iroha: Blossoms for Tomorrow
1,Uchuu Kyoudai,12431,https://myanimelist.net/anime/12431/Uchuu_Kyoudai,https://cdn.myanimelist.net/images/anime/7/375...,2,99.0,PG-13 - Teens 13 or older,2020-09-13 12:58:18.633841,宇宙兄弟,"On a fateful summer night in 2006, Mutta Nanba...",Space Brothers
2,Yozakura Quartet: Hana no Uta,18497,https://myanimelist.net/anime/18497/Yozakura_Q...,https://cdn.myanimelist.net/images/anime/5/525...,2,13.0,PG-13 - Teens 13 or older,2020-09-13 14:39:45.15066,夜桜四重奏 ～ハナノウタ～,"Hundreds of years ago, the borders between the...",NaN
3,Glass no Kamen Desu ga to Z Specials,34336,https://myanimelist.net/anime/34336/Glass_no_K...,https://cdn.myanimelist.net/images/anime/13/82...,2,2.0,PG-13 - Teens 13 or older,2020-09-14 01:53:48.51646,ガラスの仮面ですが と Z,Two unaired episodes of Glass no Kamen Desu ga...,NaN
4,Re:Zero kara Hajimeru Isekai Seikatsu 2nd Season,39587,https://myanimelist.net/anime/39587/Re_Zero_ka...,https://cdn.myanimelist.net/images/anime/1444/...,1,13.0,R - 17+ (violence & profanity),2020-09-14 06:45:31.052373,Re:ゼロから始める異世界生活 2nd season,"Even after dying countless times, Subaru final...",Re:ZERO -Starting Life in Another World- Season 2

In [4]:
animes.drop(columns= ["last_scraped_date", "title_japanese", "title_english"], axis= 1, inplace= True)

In [5]:
image_links = animes[["anime_id", "image_path"]].set_index("anime_id")

In [6]:
image_links.head()

                                                 image_path
anime_id
9289      https://cdn.myanimelist.net/images/anime/3/289...
12431     https://cdn.myanimelist.net/images/anime/7/375...
18497     https://cdn.myanimelist.net/images/anime/5/525...
34336     https://cdn.myanimelist.net/images/anime/13/82...
39587     https://cdn.myanimelist.net/images/anime/1444/...

In [7]:
animes.set_index("anime_id")

,title,url,image_path,airing_status,num_episodes,mpaa_rating,synopsis
anime_id,,,,,,,
9289,Hanasaku Iroha,https://myanimelist.net/anime/9289/Hanasaku_Iroha,https://cdn.myanimelist.net/images/anime/3/289...,2,26.0,PG-13 - Teens 13 or older,Ohana Matsumae is an energetic and wild teenag...
12431,Uchuu Kyoudai,https://myanimelist.net/anime/12431/Uchuu_Kyoudai,https://cdn.myanimelist.net/images/anime/7/375...,2,99.0,PG-13 - Teens 13 or older,"On a fateful summer night in 2006, Mutta Nanba..."
18497,Yozakura Quartet: Hana no Uta,https://myanimelist.net/anime/18497/Yozakura_Q...,https://cdn.myanimelist.net/images/anime/5/525...,2,13.0,PG-13 - Teens 13 or older,"Hundreds of years ago, the borders between the..."
34336,Glass no Kamen Desu ga to Z Specials,https://myanimelist.net/anime/34336/Glass_no_K...,https://cdn.myanimelist.net/images/anime/13/82...,2,2.0,PG-13 - Teens 13 or older,Two unaired episodes of Glass no Kamen Desu ga...
39587,Re:Zero kara Hajimeru Isekai Seikatsu 2nd Season,https://myanimelist.net/anime/39587/Re_Zero_ka...,https://cdn.myanimelist.net/images/anime/1444/...,1,13.0,R - 17+ (violence & profanity),"Even after dying countless times, Subaru final..."
...,...,...,...,...,...,...,...
39644,Setsugetsuka,https://myanimelist.net/anime/39644/Setsugetsuka,https://cdn.myanimelist.net/images/anime/1001/...,2,1.0,G - All Ages,"A music video of the song ""Setsugetsuka"" perfo..."
40052,Great Pretender,https://myanimelist.net/anime/40052/Great_Pret...,https://cdn.myanimelist.net/images/anime/1418/...,1,23.0,None,A series of unfortunate events has led Makoto ...
41277,Rainbow Ruby,https://myanimelist.net/anime/41277/Rainbow_Ruby,https://cdn.myanimelist.net/images/anime/1050/...,2,26.0,PG - Children,"At Ruby's house, a small event related to the ..."
41450,Big Hits! (Yoriko Mizushiri),https://myanimelist.net/anime/41450/Big_Hits_Y...,https://cdn.myanimelist.net/images/anime/1278/...,2,1.0,G - All Ages,Program ID by Yoriko Mizushiri for Space Showe...
41822,Moldiver Ex,https://myanimelist.net/anime/41822/Moldiver_Ex,https://cdn.myanimelist.net/images/anime/1636/...,2,2.0,None,"The first episode (Go Go! Doll-chan), 12 minut..."

In [8]:
animes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17058 entries, 0 to 17057
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          17058 non-null  object
 1   anime_id       17058 non-null  int64
 2   url            17058 non-null  object
 3   image_path     17058 non-null  object
 4   airing_status  17058 non-null  int64
 5   num_episodes   16583 non-null  float64
 6   mpaa_rating    17058 non-null  object
 7   synopsis       16261 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 1.0+ MB

In [9]:
animes.describe()

           anime_id  airing_status  num_episodes
count  17058.000000   17058.000000  16583.000000
mean   20799.787490       2.000645     11.567931
std    14576.791624       0.198634     47.924225
min        1.000000       1.000000      1.000000
25%     5664.250000       2.000000      1.000000
50%    21772.000000       2.000000      2.000000
75%    35058.750000       2.000000     12.000000
max    42754.000000       3.000000   3057.000000

In [10]:
animes.sort_index(inplace=True)

In [11]:
users = pd.read_csv("dataset/users.csv",index_col= "user_id")

In [12]:
users.head()

,username,gender,location,birth_date,join_date,last_scraped_date
user_id,,,,,,
1,Xinil,Male,California,1985-03-04 00:00:00,2004-11-05 00:00:00,2020-09-02 15:20:23.893907
3,Aokaado,Male,"Oslo, Norway",1988-11-11 00:00:00,2004-11-11 00:00:00,2020-09-02 15:20:23.893907
4,Crystal,Female,"Melbourne, Australia",1989-01-10 00:00:00,2004-11-13 00:00:00,2020-09-02 15:20:23.893907
20,vondur,Male,"Bergen, Norway",1988-01-25 00:00:00,2005-01-05 00:00:00,2020-09-02 15:20:23.893907
23,Amuro,NaN,Canada,1988-02-22 00:00:00,2005-01-23 00:00:00,2020-09-02 15:20:23.893907

In [13]:
users.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 302674 entries, 1 to 6999015
Data columns (total 6 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   username           302674 non-null  object
 1   gender             217800 non-null  object
 2   location           156774 non-null  object
 3   birth_date         168749 non-null  object
 4   join_date          302547 non-null  object
 5   last_scraped_date  302674 non-null  object
dtypes: object(6)
memory usage: 16.2+ MB

In [14]:
spark = SparkSession.builder.getOrCreate()

22/02/05 11:10:12 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [33]:
# Reading the ratings through csv
ratings = spark.read.format("csv").option("header","true").load("dataset/user_watches.csv")

In [34]:
ratings.show(10)

+--------+-----+------+--------------------+-------+
|anime_id|score|status|num_watched_episodes|user_id|
+--------+-----+------+--------------------+-------+
|      21|    9|     1|                 626|      1|
|   11061|    9|     2|                  30|      1|
|    8676|    0|     1|                   4|      3|
|    9919|    0|     1|                   2|      3|
|    5081|    0|     1|                   8|      3|
|     109|    0|     1|                   1|      3|
|    2986|    6|     1|                  14|      3|
|     269|    9|     1|                 201|      3|
|   31043|    0|     1|                   3|      3|
|   28223|    0|     1|                   7|      3|
+--------+-----+------+--------------------+-------+
only showing top 10 rows

In [35]:
ratings.count()

68235827

In [36]:
# Looks like all the values are stored as strings which need to be converted into numeric format
ratings.printSchema()

root
 |-- anime_id: string (nullable = true)
 |-- score: string (nullable = true)
 |-- status: string (nullable = true)
 |-- num_watched_episodes: string (nullable = true)
 |-- user_id: string (nullable = true)

In [40]:
pd.DataFrame(ratings.dtypes, columns=["Columns", "Type"]).set_index("Columns")

                        Type
Columns
anime_id              string
score                 string
status                string
num_watched_episodes  string
user_id               string

In [44]:
# Convert the columns to the desired formats

#Import the datatypes from sql.types
from pyspark.sql.functions import col
from pyspark.sql.types import IntegerType

ratings_converted = ratings.withColumn("anime_id",col("anime_id").cast(IntegerType())) \
                            .withColumn("score", col("score").cast(IntegerType())) \
                            .withColumn("status", col("status").cast(IntegerType())) \
                            .withColumn("num_watched_episodes", col("num_watched_episodes").cast(IntegerType())) \
                            .withColumn("user_id", col("user_id").cast(IntegerType()))

In [45]:
pd.DataFrame(ratings_converted.dtypes, columns=["Columns", "Type"]).set_index("Columns")

                     Type
Columns
anime_id              int
score                 int
status                int
num_watched_episodes  int
user_id               int

In [46]:
ratings_converted.describe().show()

+-------+------------------+------------------+------------------+--------------------+------------------+
|summary|          anime_id|             score|            status|num_watched_episodes|           user_id|
+-------+------------------+------------------+------------------+--------------------+------------------+
|  count|          68235827|          68235827|          68235827|            68235827|          68235827|
|   mean|13378.034951858941| 4.418941225699514|2.9792683834549263|    14.5287745981301|2199570.0187202976|
| stddev|12595.299422842292|3.9361641781290206|1.7208643699307469|   359.8135277987043|2077056.6802860275|
|    min|                 1|                 0|                 0|                   0|                 1|
|    max|             42754|                10|                55|               65535|           7273306|
+-------+------------------+------------------+------------------+--------------------+------------------+

In [48]:
comments.select("score",).count().rdd.map(lambda r: r[0]).collect()

AttributeError: 'int' object has no attribute 'rdd'

In [27]:
score_null = comments.filter(comments["score"].isNull()).count()